<!--  ./views/information.erb -->
            <div class="center">
              <div id="login-box">
                <p><%= @msg %></p>
                <a href="<%= @linkback %>"><%= @linkbacktxt  %></a>
              </div>
            </div>
<!--  ./views/information.erb -->
